  /*База*/
html, body {
  margin:0;
  padding:0;
  background: #232636;
  font-family: 'Playfair Display', serif;
}
a {
  text-decoration: none;
  color: #d1d44a;
}
a:visited {
  color: white;
}

a:hover
{
  color: #d1d44a;
}
/*База*/


/*ХЭДЭР*/
header {
  width: 70%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #426870;
  color: white;
}
/*ФОН*/
.header-bg {
 background: url(../Media/Images/U-VisionPicture1.png) center repeat;
 height: 100px;
 margin-top: 200px;
  }
.header-bg1 {
 background: url(../Media/Images/U-VisionPicture2.png) center repeat;
 height: 100px;
 margin-top: 200px;
  }
.header-bg2 {
 background: url(../Media/Images/U-VisionPicture3.png) center repeat;
 height: 100px;
 margin-top: 40px;
 margin-bottom: 40px;
  }
/*ФОН*/
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  justify-content: space-between;
  }
.nav_links {
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  }
.nav__link {
  font-size: 20px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: color .2s linear;
}
.nav__link::after{
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  opacity: 0;
  background-color: #d1d44a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}
.nav__link:hover{
  color: #d1d44a;
}
.nav__link:hover::after, .nav__link.active::after {
  opacity: 1;
}
.header-account {
  margin-top: 11px;
  background: #2f4c52;
}
.header-account-a {
  padding: 10px;
  margin-top: -2px;
}
.header-account-a a:hover {
  color: #d1d44a;
}
.change_lang {

}
.lang_form {
  margin: 0 20px;
  margin-top: 9%;
}
.lang_btn {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #d1d1d1;
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
  transition: color .2s linear;
}
.lang_btn:hover {
  color: #d45959;
}
/*.picure__href {
  background: url(../Media/Images/U-VisionPicture.png) center repeat;
  height: 100px;
  margin-top: 200px;
}
.dropdown {
  position: relative;
  display: inline-block;
  }
  .dropbtn {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #426870;
  color: white;
  font-size: 25px;
  border: none;
  transition: color .2s linear;
 }
 .dropbtn:hover{
  color: #d1d44a;
 }
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content {
  margin-left: 10px;
  display: none;
  width: auto;
  position: absolute;
  z-index: 1;
  background-color: #426870;
  }
.to__link {
  opacity: 1;
  font-size: 20px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: color .2s linear;
  white-space: nowrap;
  }
.to__link:hover{
  color: #d1d44a;
}
.to__link::after{
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  opacity: 0;
  background-color: #d1d44a;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  transition: opacity .2s linear;
}
.to__link:hover::after, .to__link.active::after {
  opacity: 1;
}*/

/*ХЭДЭР*/

  /*Главное*/
main {
  width: 70%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #304358;
  color: white;
  margin-top: -17px;
}
.mainContent {
  width: 95%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.bigBegin {
  color: #d1d44a;
  font-size: 30px;
  padding-top: 20px;
  margin-left: 10px;
}
.pleasant-viewing {
  margin-top: 15px;
}
.pleasant-viewing h3 {
  font-size: 30px;
  margin-left: 10px;
}
.comments {
  padding: 10px;
}
/*Главное*/

/*Подвал*/
footer {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #426870;
  color: white;
  margin-top: -17px;
}
footer div {
  padding: 5px;
}
footer p {
  margin-left: 10px;
  font-size: 14px;
}
/*Подвал*/
